* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  
}
body{
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-wrap: break-word;

}


.true_body{
  background-color: #F0ECE5;
  margin: 0px;
}

.light_navbar {
  display: flex;
  margin-top: 0;
  margin:0;
  color: black;
  justify-content: space-between;
  background-color: #F0ECE5;
}
.light_nav_start{
  margin: 1.7rem;
  font-weight: 700;
  color: #3081D0;
  font-size: xx-large;

}
.dark_nav_start{
  margin: 1.7rem;
  font-weight: 700;
  color: #FF6C22;
  font-size: xx-large;
  
  
}

.light_nav_main {
  background-color: #B6BBC4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin: 1.7rem;
  height: 3rem;
  border-radius: 13px;

}

.light_nav_element {
  margin: .7rem;
  list-style: none;
  color: #333;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 2px solid transparent;
 
}

.light_nav_element:hover {
  border-bottom: 2px solid wheat;
  cursor: pointer;
}

.light_nav_element:focus {
  background-color: #989ca3;
}

#light_button_theme {
  background-color: #161A30;
  color: aliceblue;
  height: 2.5rem;
  padding: .5rem;
  border-radius: 5px;
margin: 1.7rem;
width: 3rem;
font-size: larger;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.false_body {
  background-color: #161A30;
  color: #ffffff;
  margin-top: 0px;
  height: 100%;
}

.dark_navbar {
  display: flex;
  margin: 0;
  color: #ffffff;
  justify-content: space-between;
  background-color: #161A30;
}

.dark_nav_main {
  background-color: #2D3248;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  margin: 1.7rem;
  height: 3rem;
  border-radius: 13px;
  color: #ffffff;
  list-style: none;
}

.dark_nav_element {
  margin: .7rem;
  border-bottom: 2px solid transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 2px solid transparent;
 
}

.dark_nav_element:hover {
  border-bottom: 2px solid #989ca3;
  cursor: pointer;
}

.dark_nav_element:focus {
  background-color: #161A30;
}

#dark_button_theme{
  background-color: #B6BBC4;
  color: #161A30;
  width: 3rem;
border-radius: 50%;
font-size: larger;
  padding: .5rem;
  border-radius: 5px;
  margin: 1.7rem;

  
}
.light_extra{
  background-color: #F0ECE5;
  margin-top: 0;
  width: 100%;
  height: auto;
}
.light_Hero-section {
  height: 35rem;
  background-color: #F0ECE5;
  color: #333333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.light_download_button{
    background-color: #161A30;
    color: aliceblue;
    height: 4rem;
    padding: 1rem;
    border-radius: 5px;
   margin: 1.7rem;
   font-size: large;
   width: 12rem;

}
.dark_download_button{
  background-color: #F0ECE5;;
  color:#333333;;
  
  padding: 1rem;
  border-radius: 5px;
 margin: 1.7rem;
 font-size: large;
 width: 12rem;


}


.light_text_area {
  background-color: #F0ECE5;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: xx-large;
  flex-shrink: 2;
}
.light_name1{
 color: #940B92;
text-align: center;}
.light_name2{
 color: #DA0C81;
 text-shadow:#E95793 ;
 text-align: center;
}
.light_name3{
 color: #86A789;
 text-align: center;
}
.dark_name1{
  color: #B2C8BA;
 text-align: center;}
 .dark_name2{
  color: #D2E3C8;

  text-shadow:#E95793;
  text-align: center;
 }
 .dark_name3{
  color: #EBF3E8;
  text-align: center;}
#list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.light_image_area {
  background-color: #F0ECE5;
   flex-shrink: 0;
  width: 30rem;
  margin: 1rem;
  margin-right: 0;

}

.dark_Hero-section {
  height: 35rem;
  background-color: #161A30;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark_text_area {
  background-color: #161A30; 
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: xx-large;
}

.dark_image_area {
  background-color: #161A30; 
  
  margin-right: 0;
  flex-shrink: 0;
  width: 30rem;
  margin: 1rem;
}
#image{
  height: 25rem;
  background-image: url("IMG_20230523_142807.jpg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1rem;
}
#light_skills{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #F0ECE5;;
  color: #333333;
  
}

.light_skill_element{
  margin: .5rem;
  width: 32%;
  border: 2px solid #161A30;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

 
  height: 20rem;
  border-radius: .4rem;
}
#dark_skills{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #161A30;
  color: #ffffff;
  
}
.dark_skill_element{
  margin: .5rem;
  width: 32%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ffffff;
  flex-wrap: wrap;
  height: 20rem;
  border-radius: .4rem;
}
#light_skill_image{
  height: 12rem;
  width: 12rem;
  border: 2px solid black;
  border-radius: 50%;
  align-content: center;
  padding: .2rem;
 object-fit: contain;
  
}
#light_heading{
  text-align: center;
  margin: 0rem;
  padding: 2rem;
  color: #265073;
  background-color: #F0ECE5;



}
#dark_heading{
  text-align: center;
  margin: 0rem;
  padding: 2rem;
  color: #9AD0C2;
  background-color: #161A30;

}
#dark_skill_image{
  height: 12rem;
  width: 12rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  align-content: center;
  padding: .2rem;
 object-fit: contain;
}
.light_education_heading{
  color: #265073;
  text-align: center;
  margin-top: 0rem;
  padding: 2rem;

}
.dark_education_heading{
  color: #9AD0C2;;
  text-align: center;
  margin: 0rem;
  padding: 2rem;
  

}
.light_education{
  margin: 0px;
  background-color: #F0ECE5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark_education{
  margin: 0;
  background-color: #161A30;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.light_education_main{
  display: flex;
  align-items: center;
  width: 95%;
  border: 2px solid black;
  height: 18rem;
  margin: 2.1rem;
  border-radius: 15px;

  
}
.dark_education_main{
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  width: 95%;
  height: 18rem;
  margin: 2.1rem;
  border-radius: 15px;
  
  
  
}
.light_education_image_section{
  width: 20%;
  border: 2px solid black;
  height: 15rem;
  margin: 1rem;
  border-radius: 10px;

  object-fit: cover;

}
.dark_education_image_section{
  width: 20%;
  border: 2px solid #ffffff;
  border-radius: 10px;
  flex-shrink: 0;
 
  height: 15rem;
  margin: 1rem;

}
.light_footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #B6BBC4;
  margin: 0;
}
.dark_footer{
  display: flex;
  justify-content: space-around;
  background-color: #2D3248;
  align-items: center;
  margin: 0;
}
.light_footer_list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgb(7, 133, 192)
}
.light_footer_element{
  color: black;
}
.dark_footer_list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 color:  rgb(217, 255, 127);
}
li{
  list-style-type: none;
}
.light_footer_copywrite{
  text-align: center;
  margin-bottom: 0px;
  background-color: #B6BBC4;
}
.dark_footer_copywrite{
  text-align: center;
  margin-bottom: 0px;
  background-color: #2D3248;
}

.light_footer_form{
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  width: auto;
}
.dark_footer_form{
  border: 2px solid #ffffff;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  width: auto;}
#Contact_form_heading{
text-align: center;
margin-top: 0px;
margin-bottom: 2rem;
text-decoration: underline;
}

li{
  font-size: 4rem;
}

@media only screen and  (width < 675px){
  html{
    font-size: 10px;
  }
  .dark_navbar,.light_navbar{
    margin: 0;
    padding-top: 0rem;
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: repeat(3,30%);
    
    
  }
  .dark_nav_start,.light_nav_start{
    grid-row: 1/3;
    grid-column: 1/2;
  }
  
  .dark_Hero-section,.light_Hero-section{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: space-around;

    
  }
  
  #dark_skills,#light_skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  }
  .dark_skill_element,.light_skill_element{
    width: 70%;
    margin: 2rem;
   height: 42vh;
   justify-content: space-evenly;
    align-items: center;
    
  }
  #dark_skill_image,#light_skill_image{
    width: 60%;
    height: 50%;
    
  }
 .dark_footer{
  padding-top: 2rem;
  flex-direction: column;
  justify-content: center;
 }
 .light_education_image_section,.dark_education_image_section{
  width: 15rem;

}
.dark_nav_main,.light_nav_main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  grid-row: 1/3;
  grid-column: 2 span;
}
.navend{
  grid-column: 1/1;
  position:absolute;
  right: 1rem;
  top:1rem;
}


}
@media only screen and (width < 1050px) {
  .light_education_image_section,.dark_education_image_section{
    width: 15rem;
  
  }
  .menu{
    position: absolute;
    right: 1rem;
    top: 4rem;

  }
}
.heading{
  font-weight: 800;
  font-size: 5rem;
  font-style:italic 
}
